<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultCmd" value="mysql -u hans --password=Hans123. -h 10.165.19.187 -D jeecg-boot &lt;"/> <!-- &lt; 为 < -->
    <add key="DefaultTempFile" value="C:\Users\admin\Desktop\esql.sql"/>
    <add key="DefaultWorkingDirectory" value="C:\Users\admin\Desktop\mysql-8.0.12-winx64\bin"/>
    <add key="HistoryFileName1" value="C:\Users\admin\Desktop\history1.txt"/>
    <add key="HistoryFileName2" value="C:\Users\admin\Desktop\history2.txt"/>
    <add key="HistoryFileName3" value="C:\Users\admin\Desktop\history3.txt"/>
    <add key="BlankAppCliBinName" value="C:\Users\admin\source\repos\BlankApp\BlankApp.Cli\bin\Debug\ba-cli.exe"/>

  </appSettings>

  <projects>
    <project name="ZY001" describe="广州铁路集装箱中心站项目" remote="\\\\10.165.19.187\\zy001"/>
    <project name="ZY002" describe="白云五线(槎神大道一广清高速)项目" remote="\\\\10.165.19.187\\zy002"/>
    <project name="ZY003" describe="广州铁路集装箱中心站改河工程补充用地项目" remote="\\\\10.165.19.187\\zy003"/>
    <project name="ZY004" describe="广州铁路集装箱中心站电力迁改工程占借地项目" remote="\\\\10.165.19.187\\zy004"/>
    <project name="ZY005" describe="广州(新塘)至汕尾铁路工程项目(白云区段)" remote="\\\\10.165.19.187\\zy005"/>
    <project name="ZY006" describe="江高镇中心城区政府储备用地项目" remote="\\\\10.165.19.187\\zy006"/>
    <project name="ZY007" describe="北太路(站场西路—槎神大道)项目" remote="\\\\10.165.19.187\\zy007"/>
    <project name="ZY008" describe="广州铁路枢纽东北货车外绕线项目" remote="\\\\10.165.19.187\\zy008"/>
    <project name="ZY009" describe="广州铁路集装箱中心站东侧地块项目" remote="\\\\10.165.19.187\\zy009"/>
    <project name="ZY010" describe="广州铁路集装箱中心站项目电力迁改工程" remote="\\\\10.165.19.187\\zy010"/>
  </projects>
</configuration>