<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="correctionSettings" type="System.Configuration.AppSettingsSection"/>
    <section name="projectSettings" type="BlankApp.Configuration.Models.ProjectSettingsSection, BlankApp.Configuration"/>
  </configSections>
  <appSettings>
    <add key="DefaultCmd" value="mysql -u hans --password=Hans123. -h 10.165.19.187 -D jeecg-boot &lt;"/>
    <!-- &lt; 为 < -->
    <add key="DefaultTempFile" value="C:\Users\Administrator\source\repos\BlankApp\bin\Debug\esql.sql"/>
    <add key="DefaultWorkingDirectory" value="C:\Users\Administrator\Desktop\mysql-8.0.12-winx64\bin"/>
    <add key="HistoryFileName1" value="C:\Users\Administrator\source\repos\BlankApp\bin\Debug\history1.txt"/>
    <add key="HistoryFileName2" value="C:\Users\Administrator\source\repos\BlankApp\bin\Debug\history2.txt"/>
    <add key="HistoryFileName3" value="C:\Users\Administrator\source\repos\BlankApp\bin\Debug\history3.txt"/>
    <add key="BlankAppCliBinName" value="C:\Users\Administrator\source\repos\BlankApp\bin\Debug\BlankApp.Cli.exe"/>
  </appSettings>

  <correctionSettings>
    <add key="【" value="]"/>
    <add key="】" value="]"/>
    <add key="(" value="（"/>
    <add key=")" value="）"/>
  </correctionSettings>

  <projectSettings>
    <projectCollection>
      <add name="ZY001" describe="广州铁路集装箱中心站项目" remote="\\\\10.165.19.187\\zy001"/>
      <add name="ZY002" describe="白云五线(槎神大道一广清高速)项目" remote="\\\\10.165.19.187\\zy002"/>
      <add name="ZY003" describe="广州铁路集装箱中心站改河工程补充用地项目" remote="\\\\10.165.19.187\\zy003"/>
      <add name="ZY004" describe="广州铁路集装箱中心站电力迁改工程占借地项目" remote="\\\\10.165.19.187\\zy004"/>
      <add name="ZY005" describe="广州(新塘)至汕尾铁路工程项目(白云区段)" remote="\\\\10.165.19.187\\zy005"/>
      <add name="ZY006" describe="江高镇中心城区政府储备用地项目" remote="\\\\10.165.19.187\\zy006"/>
      <add name="ZY007" describe="北太路(站场西路—槎神大道)项目" remote="\\\\10.165.19.187\\zy007"/>
      <add name="ZY008" describe="广州铁路枢纽东北货车外绕线项目" remote="\\\\10.165.19.187\\zy008"/>
      <add name="ZY009" describe="广州铁路集装箱中心站东侧地块项目" remote="\\\\10.165.19.187\\zy009"/>
      <add name="ZY010" describe="广州铁路集装箱中心站项目电力迁改工程" remote="\\\\10.165.19.187\\zy010"/>
    </projectCollection>
  </projectSettings>
</configuration>

