<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultCmd" value="mysql -u hans --password=Hans123. -h 10.165.19.187 -D jeecg-boot &lt;"/> <!-- &lt; 为 < -->
    <add key="DefaultTempFile" value="C:\Users\admin\Desktop\esql.sql"/> 
    <add key="DefaultWorkingDirectory" value="C:\Users\admin\Desktop\mysql-8.0.12-winx64\bin"/> 
</appSettings>
</configuration>